@import 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css';
$background_color: #202020;
$event_color: #3399ff;
$event_header_color: #ADD8E6;
@page {
  size: 8.5in 11in;
  -relaxed-page-width:  8.5in;
  -relaxed-page-height: 11in;
  background-color: $background_color;
  background-size: cover;
  color: $background_color;
}
html{
	background-color: $background_color;
	background-size: cover;

}
body {
	background-color: $background_color;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-size:cover;

}
#header{
	margin-top: .5cm;
	font-weight: bold;
}

.headers{
	padding-left:1.75cm;
	margin-bottom: .25cm;
}
.main-text{
	img{
		float: right;
		margin: 0px 0px 0px 0px;
		max-height: 225px;
		max-width: 225px;
	}
	margin-right: 1cm;
	p{
		margin-top:20px;
		margin-left: 1.8cm;
	}
}
#Sponsor-header{
    page-break-before: always;
	margin-top: 1cm;
	margin-left: 1.5cm;
    margin-bottom: .5cm;
}

#Event-header{
	color: $event_color;
	text-align: center;
	margin-bottom: 20px;
}
/* Start of Column CSS */
.container2 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
}
.container1 {
	float:left;
	width:100%;
	position:relative;
	right:50%;
	padding-bottom: .5cm;
}
.col1 {
	float:left;
	width:40%;
	position:relative;
	left:60%;
	overflow:hidden;
	color: $event_header_color;
	text-align: center;
}
.col2 {
	float:left;
	width:45%;
	position:relative;
	left:60%;
	overflow:hidden;
}

.Table{
    margin-left: 1.5cm;
    margin-right: 1.5cm;

}
table{
    align: center;
}
th {
    text-align: left;
    padding: 15px;
    border: 1px solid white;
}
td {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid white;
}
#FAQ{
    page-break-before: always;
}
.Info{
    padding-top:.25cm;
    text-align: center;
    padding-left: 2cm;
    padding-right: 2cm;
}
.Terms{
    padding-top: 1cm;
    padding-left:1.5cm;
    padding-right:1.5cm;
    page-break-after: always;
}
.EOP{
    page-break-before: always;
}
