.headers
    h1#header Information & Systems Security Society
    h2 2018-2019 Sponsorship Guide

.main-text
    img(src='transparent.png')
    :markdown-it(html=true)
        The Information and Systems Security Society (ISSS) is a student run Computer Science organization  at  the  University  of  Texas  at Austin  dedicated  towards  instructing  students  on  the topics of computer security. Through our organization’s events, students are given exposure to both practical and theoretical attacks on real world systems, encouraging students to write better code, design better infrastructure, and defend their privacy and digital freedom in an increasingly connected world.  
          
        
        ISSS is seeking corporate sponsors to help fund and host organization events, and to educate students on applications of security in the industry. Through sponsorship, companies can broaden their outreach in the community through hosted events and recruiting opportunities while receiving name recognition within the student body. Job listings and opportunities will be distributed directly to organization members, and companies will have access to resumes from students pursuing careers in cybersecurity. 

h1#Event-header Events

.container2
    .container1
        .col1
            h2 General Meetings
        .col2
            p Every other week, ISSS hosts a general meeting or workshop covering a security topic of interest to our members. The aim of these events is to keep our members up to date about security issues, show them how to breach and secure systems in a controlled environment, and teach them how to defend themselves and their software in the real world. 

style
  include:scss isss_prospectus.scss
