.headers
    h1#header Information & Systems Security Society
    h3 2018-2019 Sponsorship Guide

.main-text
    img(src='transparent.png')
    :markdown-it(html=true)
        The Information and Systems Security Society (ISSS) is a student run Computer Science organization  at  the  University  of  Texas  at Austin  dedicated  towards  instructing  students  on  the topics of computer security. Through our organization’s events, students are given exposure to both practical and theoretical attacks on real world systems, encouraging students to write better code, design better infrastructure, and defend their privacy and digital freedom in an increasingly connected world.

    

style
  include:scss isss_prospectus.scss
